REACT_APP_API_BASE_URL=http://localhost:6500
REACT_APP_API_PREFIX=/admin
REACT_APP_NAME=Admin Panel
REACT_APP_DISTRIBUTOR_PANEL_URL=http://localhost:3002
REACT_APP_FRANCHISE_PANEL_URL=http://localhost:3002
REACT_APP_THEME_SITE_URL=http://localhost:3000
PORT=3000
