# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/abhi_hmirpur
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/.next

# misc
.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
